.navlink{
    flex-grow: 1;
    border-style: solid;
    border-color: #de5858;
    border-image: linear-gradient(white 1%, #d35454 45%) 1;
    border-width: 0 thin thick;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.linktext{
    color: #FFFFFF;
    font-family: "Roboto Light", sans-serif;
}