.block{
    min-height: 10vh;
    border-style: solid;
    border-color: rgba(0,0,0,0.25);
    background-color: #d7fff0;
    border-radius: 5px;

    color: #343434;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    align-items: center;
}